<div class="container">
    <h1>Your Machines</h1>
    <table class="table">
        <tr ng-repeat="machine in machines">
            <td>{{ machine.machineName }}</td>
            <td><small><b>VNC Password:</b>&nbsp;{{ machine.machineVncPassword }}</small></td>
            <td><small><b>Created:</b>&nbsp;{{ machine.dateProvisioned | date }}</small></td>
            <td align="right">
                <button class="btn btn-danger">Delete</button></a>
            </td>
            <td align="right"><a target="_blank" href="http://52.209.115.148:{{ machine.machinePortNoVNC }}/?password={{ machine.machineVncPassword }}/">
                <button class="btn btn-success">Launch</button></a>
            </td>
        </tr>
    </table>
</div>